{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>{{ form.number.label }}</label>
            {{ form.number | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.nationality.label }}</label>
            {{ form.nationality | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.name.label }}</label>
            {{ form.name | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.kana.label }}</label>
            {{ form.kana | add_class:'form-control col-3' }}
    </div>
    <div class="form-group">
        <label>{{ form.gender.label }}</label>
            {{ form.gender | add_class:'form-control col-3' }}
    </div>
    <label>{{ form.email.label }}</label>
            {{ form.email | add_class:'form-control col-3' }}
            <label>{{ form.abbre.label }}</label>
            {{ form.abbre | add_class:'form-control col-3' }}</br>
    
    <button type="submit">登録</button>
</form>
<a href="{% url 'portal:index' %}">戻る</a>
{% endblock %}
